ion-col{
  border: 1px solid white;
  background-color: rgba(190, 235, 215, 0.4);
  height: 11vw;
}

.highlight-box{
  background-color: rgba(111, 255, 111, 0.85);
}

.goto-box{
  background-color: rgba(111, 255, 111, 0.40);
}
