ion-col{
  border: 1px solid white;
  background-color: rgba(190, 235, 215, 0.4);
  height: 11vw;
}

.highlight-box,
ion-row:first-of-type>ion-col:first-of-type.highlight-box,
ion-row:first-of-type>ion-col:last-of-type.highlight-box,
ion-row:last-of-type>ion-col:first-of-type.highlight-box,
ion-row:last-of-type>ion-col:last-of-type.highlight-box,
ion-row:nth-of-type(5)>ion-col:nth-of-type(5).highlight-box{
  background-color: rgba(111, 255, 111, 0.85);
}

.goto-box,
ion-row:first-of-type>ion-col:first-of-type.goto-box,
ion-row:first-of-type>ion-col:last-of-type.goto-box,
ion-row:last-of-type>ion-col:first-of-type.goto-box,
ion-row:last-of-type>ion-col:last-of-type.goto-box,
ion-row:nth-of-type(5)>ion-col:nth-of-type(5).goto-box{
  background-color: rgba(111, 255, 111, 0.4);
}


ion-row:first-of-type>ion-col:first-of-type,
ion-row:first-of-type>ion-col:last-of-type,
ion-row:last-of-type>ion-col:first-of-type,
ion-row:last-of-type>ion-col:last-of-type,
ion-row:nth-of-type(5)>ion-col:nth-of-type(5){
  background-color: rgba(255, 215, 85, 0.7);
}

.lds-ellipsis {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 40px;
}
.lds-ellipsis div {
  position: absolute;
  top: 3px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgb(0, 0, 0);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
