<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Welcome to Tablut Game App!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button (click)="start1v1()" color="danger">Play 1v1</ion-button>
    <ion-button (click)="start1vb()" color="danger">Play v Black AI</ion-button>
    <ion-button (click)="start1vw()" color="danger">Play v White AI</ion-button>
  </div>
</ion-content>
